.header__title {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__icon__img2 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 10px 5px 10px 5px;
  gap: 35px;
}
.span {
  padding: 10px 0px 0px 5px;
  padding-top: 25px;
}
