.main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main__title__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 100px;
}
.main__title__img img {
  width: 150px;
  height: 150px;
}
.main__title__items__info {
  display: felx;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 50px;
}
